*.pyc
*.egg-info
*.stamp
*.db
.venv/
.eggs/
.coverage
loadtests/.env.install
docs/_build/
.cache/
*.un~
config/*.ini
version.json
dist/
build/
kinto/plugins/admin/build
kinto/plugins/admin/kinto-admin-*
.pytest_cache/
.history/
.vscode/
.ruff_cache/
