*.pyc
*.egg-info
*.stamp
*.db
.venv/
.eggs/
.coverage
.tox/
loadtests/.env.install
docs/_build/
.cache/
*.un~
config/*.ini
version.json
dist
kinto/plugins/admin/node_modules
kinto/plugins/admin/coverage
kinto/plugins/admin/npm-debug.log
