bravado==11.0.3
bravado_core==6.1.1
pytest==7.4.4
pytest-cache==1.0
pytest-cov==4.1.0
pytest-watch==4.2.0
python-memcached==1.62
ruff==0.1.14
selenium==4.12.0
swagger-spec-validator==3.0.3
tox==4.12.0
WebTest==3.0.0
wheel==0.42.0
zest.releaser==9.1.1
zope.sqlalchemy==3.1
