bravado_core==4.12.1
flake8==3.5.0
mock==2.0.0
pytest==3.4.0
pytest-cache==1.0
pytest-cover==3.0.0
pytest-sugar==0.9.1
pytest-watch==4.1.0
SQLAlchemy==1.2.2
python-memcached==1.59
tox==2.9.1
WebTest==2.0.29
werkzeug==0.14.1
wheel==0.30.0
zest.releaser==6.13.4
zope.sqlalchemy==1.0
setuptools==38.5.1
