black==21.8b0
bravado_core==5.17.0
flake8==3.9.2
isort==5.9.3
pytest==6.2.5
pytest-cache==1.0
pytest-cov==2.12.1
pytest-watch==4.2.0
python-memcached==1.59
swagger-spec-validator==2.7.3
therapist==2.2.0
tox==3.24.3
WebTest==3.0.0
wheel==0.37.0
zest.releaser==6.22.1
zope.sqlalchemy==1.6
