db:
  image: postgres
  environment:
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
cache:
  image: library/memcached
web:
  image: kinto/kinto-server
  links:
   - db
   - cache
  ports:
   - "8888:8888"
  environment:
    KINTO_CACHE_BACKEND: kinto.core.cache.memcached
    KINTO_CACHE_HOSTS: cache:11211 cache:11212
    KINTO_STORAGE_BACKEND: kinto.core.storage.postgresql
    KINTO_STORAGE_URL: postgres://postgres:postgres@db/postgres
    KINTO_PERMISSION_BACKEND: kinto.core.permission.postgresql
    KINTO_PERMISSION_URL: postgres://postgres:postgres@db/postgres
