include *.rst LICENSE Makefile tox.ini app.wsgi requirements.txt dev-requirements.txt
include kinto/config/kinto.tpl
recursive-include kinto *.sql *.html
recursive-include docs *.rst *.png *.svg *.css *.html conf.py piwik.js
include kinto/plugins/admin/VERSION
recursive-include kinto/plugins/admin/build *