include *.rst LICENSE Makefile tox.ini .coveragerc app.wsgi requirements.txt dev-requirements.txt
include kinto/config/kinto.tpl
recursive-include kinto *.sql *.html *.ini *.yaml
recursive-include docs *.rst *.png *.svg *.css *.html conf.py piwik.js
recursive-include kinto/plugins/admin/build *
include kinto/plugins/admin/package.json
prune docs/_build/*
prune kinto/plugins/admin/node_modules/*
