appdirs==1.4.2
colander==1.3.2
colorama==0.3.7
contextlib2==0.5.4
cornice==2.4.0
cornice-swagger==0.5.0
hupper==0.4.2
iso8601==0.1.11
jsonpatch==1.15
jsonpointer==1.10
jsonschema==2.6.0
newrelic==2.80.1.61
packaging==16.8
PasteDeploy==1.5.2
psycopg2==2.7
pyparsing==2.1.10
pyramid==1.8.2
pyramid-multiauth==0.9.0
pyramid-tm==1.1.1
python-dateutil==2.6.0
raven==6.0.0
repoze.lru==0.6
requests==2.13.0
simplejson==3.10.0
six==1.10.0
SQLAlchemy==1.1.6
statsd==3.2.1
transaction==2.1.0
translationstring==1.3
ujson==1.35
venusian==1.0
waitress==1.0.2
WebOb==1.7.1
Werkzeug==0.11.15
zope.deprecation==4.2.0
zope.interface==4.3.3
zope.sqlalchemy==0.7.7
