bcrypt==3.1.7
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
colander==1.7.0
colorama==0.4.1
cornice==3.5.1
cornice-swagger==0.7.0
dockerflow==2019.6.0
hupper==1.8.1
idna==2.8
iso8601==0.1.12
jsonpatch==1.23
jsonpointer==2.0
jsonschema==3.0.1
logging-color-formatter==1.0.2
newrelic==4.20.1.121
PasteDeploy==2.0.1
plaster==1.0
plaster-pastedeploy==0.7
psycopg2-binary==2.8.3
pycparser==2.19
pyramid==1.10.4
pyramid-mailer==0.15.1
pyramid-multiauth==0.9.0
pyramid-tm==2.2.1
python-dateutil==2.8.0
python-memcached==1.59
raven==6.10.0
repoze.lru==0.7
requests==2.22.0
simplejson==3.16.0
six==1.12.0
SQLAlchemy==1.3.5
statsd==3.3.0
transaction==2.4.0
translationstring==1.3
ujson==1.35
urllib3==1.25.3
venusian==1.2.0
waitress==1.3.0
WebOb==1.8.5
Werkzeug==0.15.4
zope.deprecation==4.4.0
zope.interface==4.6.0
zope.sqlalchemy==1.1
