bcrypt==3.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colander==1.8.2
colorama==0.4.4
cornice==5.0.3
cornice-swagger==1.0.0
dockerflow==2020.10.0
hupper==1.10.2
idna==2.10
iso8601==0.1.13
jsonpatch==1.26
jsonpointer==2.0
jsonschema==3.2.0
logging-color-formatter==1.0.2
newrelic==5.22.0.151
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
psycopg2-binary==2.8.6
pycparser==2.20
pyramid==1.10.4
pyramid-mailer==0.15.1
pyramid-multiauth==0.9.0
pyramid-tm==2.4
python-dateutil==2.8.1
python-memcached==1.59
raven==6.10.0
repoze.lru==0.7
requests==2.24.0
simplejson==3.17.2
six==1.15.0
SQLAlchemy==1.3.20
statsd==3.3.0
transaction==3.0.0
translationstring==1.4
ujson==4.0.1
urllib3==1.25.11
venusian==3.0.0
waitress==1.4.4
WebOb==1.8.6
Werkzeug==1.0.1
zope.deprecation==4.4.0
zope.interface==5.1.2
zope.sqlalchemy==1.3
