#toc h3 {
    margin-bottom: 0.1em;
}

#toc {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
}

#toc .item {
    padding-bottom: 1em;
    padding-right: 0.5em;

    flex: 1 1 auto;
    width: 200px;
}

#toc .links {
    padding: 0.2em;
}
