Sphinx==7.2.6
sphinx_rtd_theme==2.0.0
docutils==0.20.1
sphinxcontrib-httpdomain==1.8.1
sphinx-github-changelog==1.2.1
kinto
mock==5.1.0
webtest==3.0.0
cornice==6.0.1
pyramid==2.0.2
python-rapidjson==1.14
SQLAlchemy==2.0.25