Sphinx==8.2.3
sphinx_rtd_theme==3.0.2
docutils==0.20.1
sphinxcontrib-httpdomain==1.8.1
sphinx-github-changelog==1.7.1
kinto
mock==5.2.0
webtest==3.0.4
pyramid==2.0.2
python-rapidjson==1.20
SQLAlchemy==2.0.40
