Sphinx==9.1.0
sphinx_rtd_theme==3.1.0
docutils==0.22.4
sphinxcontrib-httpdomain==2.0.0
sphinx-github-changelog==1.7.1
kinto
mock==5.2.0
webtest==3.0.7
pyramid==2.0.2
python-rapidjson==1.23
SQLAlchemy==2.0.47
setuptools<82.0
