on:
  push:
    branches:
      - main
  pull_request:

name: Kinto Admin
permissions:
  contents: read

jobs:
  chore:
    name: Kinto Admin
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install virtualenv
        run: |
          pip install virtualenv
          virtualenv --python=python3 .venv

      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      - name: Print environment
        run: |
          source .venv/bin/activate
          python --version
          pip --version
          node --version
          npm --version

      - name: make build-kinto-admin
        run: |
          source .venv/bin/activate
          make build-kinto-admin

      - name: geckodriver/firefox
        run: |
          echo "geckodriver/firefox"
          which geckodriver
          geckodriver --version
          which firefox
          firefox --version

      - name: Install dependencies
        run: |
          source .venv/bin/activate
          make install-dev

      - name: Start Kinto
        run: |
          source .venv/bin/activate
          kinto start --ini tests/browser.ini & sleep 5

      - name: Browser Tests
        run: |
          source .venv/bin/activate
          make browser-test
