on:
  push:
    branches:
      - master
  pull_request:

name: Docs
permissions:
  contents: read

jobs:
  chore:
    name: Validate docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install virtualenv
        run: |
          pip install virtualenv
          virtualenv --python=python3 .venv

      - name: Print environment
        run: |
          source .venv/bin/activate
          python --version
          pip --version

      - name: make docs
        run: |
          source .venv/bin/activate
          make docs

      - name: Package description
        run: |
          source .venv/bin/activate
          make test-description
