on:
  push:
    branches:
      - master
  pull_request:

name: Functional Testing
jobs:
  chore:
    name: Functional
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toxenv: [py36, py36-raw, py37, py38, py39]
        include:
          - toxenv: py36
            python-version: "3.6"
          - toxenv: py36-raw
            python-version: "3.6"
          - toxenv: py37
            python-version: "3.7"
          - toxenv: py38
            python-version: "3.8"
          - toxenv: py39
            python-version: "3.9"

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      memcached:
        image: memcached
        options: >-
          --health-cmd "timeout 5 bash -c 'cat < /dev/null > /dev/udp/127.0.0.1/11211'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 11211:11211

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install virtualenv
        run: |
          pip install virtualenv
          virtualenv --python=python3 .venv

      - name: Print environment
        run: |
          source .venv/bin/activate
          python --version
          pip --version

      - name: Install dependencies
        run: |
          source .venv/bin/activate
          make install-dev
          make install-postgres
          pip install tox

      - name: Create database
        env:
          PGPASSWORD: postgres
        run: |
          psql -c "CREATE DATABASE testdb ENCODING 'UTF8' TEMPLATE template0;" -U postgres -h localhost

      - name: Tox
        run: |
          source .venv/bin/activate
          tox -e ${{ matrix.toxenv }}
